.header{
    display: grid;
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-template-columns: 10% 30% 30% 30% ;
    gap: 10px;
    padding: 16px;
    place-content: center center;

   
}
.logo{
    grid-area: logo;
    height: 90%;
    width: 5%;
    padding: 16px;
}

.inicio{
    grid-area: inicio;
    height: 90%;
    width: 10%;
    padding: 16px;
    font-size: large;
}

.hoy{
    grid-area: hoy;
    height: 90%;
    width: 10%;
    padding: 16px;
    font-size: large; 
}

.busqueda{
    grid-area: nav;
    height: 90%;
    width: 59%;
    padding: 16px;
    font-size: large; 

}
.imagen img {
    width: 100%;
    border-radius: 20px;
    
}

.galeria {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: .5rem;
    row-gap: .5rem;
    padding: 10px;
}

@media (min-width:100px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width:520px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:730px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1024px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
    }
}