


.imagen img {
    width: 100%;
    border-radius: 20px;
    
}

.galeria {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: .5rem;
    row-gap: .5rem;
    padding: 10px;
}

@media (min-width:100px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width:520px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:730px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1024px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
    }
}

.texto {
    text-align: center;
}

.parrafo {
    text-align: center;
}

.fondo {
    background: rgb(143, 93, 163);
}







